

<div class="row">
    <div class="col-md-12">
        <p class="text-center">
            <span class="text-danger" style="font-size:4em;">ورود غیرمجاز</span>
        </p>
        <p class="text-center">شما به این صفحه دسترسی ندارید</p>
        <p class="text-center">لطفا آدرس موردنظر خود را بررسی نمایید. باتشکر</p>
        <p class="text-center">@Html.ActionLink("بازگشت به صفحه اصلی", MVC.Home.ActionNames.Index, MVC.Home.Name, new { @class="btn btn-info" })</p>
</div>
</div>
