<a href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown'><i class="fa fa-envelope"></i><span class="badge">1</span></a>
<ul class="dropdown-menu messages arrow">
    <li class="dd-header">
        <span><a href="#">علامت همه برای خواندن</a></span>
        <span>شما (1) پیام دارید</span>

    </li>

    <div class="scrollthis">
        <li>
            <a href="#" class="active">
                <span class="time">6 دقیقه</span>
                <img src="~/Scripts/assets/demo/avatar/doyle.png" alt="avatar" />
                <div><span class="name">آلن دویلی</span><span class="msg">لطفا امشب فایل هارا برای من ارسال کنید.</span></div>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="time">12 دقیقه</span>
                <img src="~/Scripts/assets/demo/avatar/paton.png" alt="avatar" />
                <div><span class="name">پلی پیتون</span><span class="msg">همه فایل ها به سرور ارسال شدند. بررسی کنید</span></div>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="time">9 ساعت</span>
                <img src="~/Scripts/assets/demo/avatar/corbett.png" alt="avatar" />
                <div><span class="name">سیمون کربت</span><span class="msg">من امروز آنلاین نیستم</span></div>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="time">2 روز</span>
                <img src="~/Scripts/assets/demo/avatar/tennant.png" alt="avatar" />
                <div><span class="name">دیوید تنانت</span><span class="msg">چه کاری انجام میدی؟</span></div>
            </a>
        </li>
        <li>
            <a href="#" class="active">
                <span class="time">6 دقیقه</span>
                <img src="~/Scripts/assets/demo/avatar/doyle.png" alt="avatar" />
                <div><span class="name">آلن دولی</span><span class="msg">لطفا امشب فایل هارا برای من ارسال کنید.</span></div>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="time">12 دقیقه</span>
                <img src="~/Scripts/assets/demo/avatar/paton.png" alt="avatar" />
                <div><span class="name">پلی پیتون</span><span class="msg">همه فایل ها به سرور ارسال شدند. بررسی کنید</span></div>
            </a>
        </li>
    </div>

    <li class="dd-footer"><a href="#">نمایش همه پیامها</a></li>
</ul>
