<a href="#" class="dropdown-toggle username" data-toggle="dropdown">
    <span class="hidden-xs">مصطفی رسولی<i class="fa fa-caret-down"></i></span>
    <img src="~/Scripts/assets/demo/avatar/dangerfield.png" alt="Dangerfield" />
</a>
<ul class="dropdown-menu userinfo arrow">
    <li class="username">
        <a href="#">
            <div class="pull-right">
                <img class="userimg" src="~/Scripts/assets/demo/avatar/dangerfield.png" alt="مصطفی رسولی" />
            </div>
            <div class="pull-left">
                <h5>مصطفی رسولی!</h5>
                <small>با عنوان <span>Kasraco</span> وارد شده</small>
            </div>
        </a>
    </li>
    <li class="userlinks">
        <ul class="dropdown-menu">
            <li><a href="#">ویرایش پروفایل <i class="pull-left fa fa-pencil"></i></a></li>
            <li><a href="#">حساب کاربری <i class="pull-left fa fa-cog"></i></a></li>
            <li><a href="#">راهنمایی <i class="pull-left fa fa-question-circle"></i></a></li>
            <li class="divider"></li>
            <li><a href="javascript:document.getElementById('frmLogOut').submit()">خروج <i class="pull-left fa  fa-power-off"></i></a></li>



        </ul>
    </li>
</ul>
