<div class="row">
    <div class="col col-md-12">
        

        <div id="listOfLanguages">
            @Html.Action(MVC.Administrator.Language.ActionNames.List, MVC.Administrator.Language.Name)
        </div>

    </div>
</div>