<div id="headerbar">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-2">
                <a href="@Url.Action(MVC.Administrator.User.ActionNames.List, MVC.Administrator.User.Name, new { area = MVC.Administrator.Name })" class="shortcut-tiles tiles-grape">
                    <div class="tiles-body">
                        <div class="pull-left"><span class="badge">2</span></div>
                        <div class="pull-right"><i class="fa fa-group"></i></div>

                    </div>
                    <div class="tiles-footer">
                        مدیریت کاربران
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-2">
                <a href="@Url.Action(MVC.Administrator.Role.ActionNames.List, MVC.Administrator.Role.Name, new { area = MVC.Administrator.Name })" class="shortcut-tiles tiles-brown">
                    <div class="tiles-body">
                        <div class="pull-right"><i class="fa fa-bullhorn"></i></div>
                    </div>
                    <div class="tiles-footer">
                        مدیرت نقش ها 
                    </div>
                </a>
            </div>
            
            <div class="col-xs-6 col-sm-2">
                <a href="#" class="shortcut-tiles tiles-primary">
                    <div class="tiles-body">
                        <div class="pull-left"><span class="badge">10</span></div>
                        <div class="pull-right"><i class="fa fa-envelope-o"></i></div>

                    </div>
                    <div class="tiles-footer">
                        پیام ها
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-2">
                <a href="#" class="shortcut-tiles tiles-inverse">
                    <div class="tiles-body">
                        <div class="pull-left"><span class="badge">3</span></div>
                        <div class="pull-right"><i class="fa fa-camera"></i></div>
                    </div>
                    <div class="tiles-footer">
                        گالری
                    </div>
                </a>
            </div>

            <div class="col-xs-6 col-sm-2">
                <a href="#" class="shortcut-tiles tiles-midnightblue">
                    <div class="tiles-body">
                        <div class="pull-right"><i class="fa fa-cog"></i></div>
                    </div>
                    <div class="tiles-footer">
                        تنظیمات
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-2">
                <a href="#" class="shortcut-tiles tiles-orange">
                    <div class="tiles-body">
                        <div class="pull-right"><i class="fa fa-wrench"></i></div>
                    </div>
                    <div class="tiles-footer">
                        پلاگین ها
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>

