<a href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown' id="woo"><i class="fa fa-bell"></i><span class="badge">3</span></a>
<ul class="dropdown-menu notifications arrow" id="woo2">
    <li class="dd-header">
        <span><a href="#">لغو همه</a></span>
        <span>شما (3) اطلاعیه جدید دارید</span>

    </li>
    <div class="scrollthis">
        <li>
            <a href="#" class="notification-user active">
                <span class="time">4 دقیقه</span>
                <i class="fa fa-user"></i>
                <span class="msg">کاربر جدیدی عضو سایت شد</span>
            </a>
        </li>
        <li>
            <a href="#" class="notification-danger active">
                <span class="time">20 دقیقه</span>
                <i class="fa fa-bolt"></i>
                <span class="msg">92% CPU روی سرور 3 ام</span>
            </a>
        </li>
        <li>
            <a href="#" class="notification-success active">
                <span class="time">1 ساعت</span>
                <i class="fa fa-check"></i>
                <span class="msg">سرور 1 روشن شده است</span>
            </a>
        </li>
        <li>
            <a href="#" class="notification-warning">
                <span class="time">2 ساعت</span>
                <i class="fa fa-exclamation-triangle"></i>
                <span class="msg">پایگاه داده پرشده است</span>
            </a>
        </li>
        <li>
            <a href="#" class="notification-order">
                <span class="time">10 ساعت</span>
                <i class="fa fa-shopping-cart"></i>
                <span class="msg">سفارش جدیدی رسیده</span>
            </a>
        </li>
        <li>
            <a href="#" class="notification-failure">
                <span class="time">12 ساعت</span>
                <i class="fa fa-times-circle"></i>
                <span class="msg">خطای برنامه کاربردی</span>
            </a>
        </li>
        <li>
            <a href="#" class="notification-fix">
                <span class="time">12 ساعت</span>
                <i class="fa fa-wrench"></i>
                <span class="msg">نصب موفقیت آمیز.</span>
            </a>
        </li>
        <li>
            <a href="#" class="notification-success">
                <span class="time">18 ساعت</span>
                <i class="fa fa-check"></i>
                <span class="msg">حساب جدیدی ساخته شد</span>
            </a>
        </li>
    </div>
    <li class="dd-footer"><a href="#">نمایش همه اطلاعیه ها</a></li>
</ul>
