<a href="#" class="dropdown-toggle" data-toggle='dropdown' id="woo">@T("Arganmehr.Server.Admin.Shared.SettingAdmin")</a>
<ul class="dropdown-menu  arrow" id="woo2">
    
   
    <li>

        <a data-ajax="true" data-ajax-loading="#loadingMessage" data-ajax-method="GET"
           data-ajax-mode="replace" data-ajax-update="#pnl-AdminContainer" 
           href="@Url.Action(MVC.Administrator.Language.ActionNames.Index, MVC.Administrator.Language.Name, null)" class="notification-user active">

            @*<a data-ajax="true" data-ajax-loading="#loadingMessage" data-ajax-loading-duration="300" data-ajax-method="GET" data-ajax-mode="replace"
            data-ajax-success="LogOnForm.onSuccess" data-ajax-update="#pnl-AdminContainer" data-outerpage="true"
            href="@Url.Action(MVC.Administrator.Language.ActionNames.Index, MVC.Administrator.Language.Name, null)" class="notification-user active">*@


            <i class="fa fa-language"></i>
            <span class="msg">@T("Arganmehr.Server.Admin.Language.LinkIndexPage")</span>
        </a>
    </li>
       
   
    
</ul>

