

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Header</h4>
        <div class="options">
            <a class="panel-collapse" href="#">
                <i class="fa fa-chevron-down"></i>
            </a>
        </div>
    </div>
    <div class="panel-body">

        <div id="toolbar">
            <button id="remove" class="btn btn-danger" disabled>
                <i class="glyphicon glyphicon-remove"></i> Delete
            </button>
            <select class="form-control">
                <option value="">Export Basic</option>
                <option value="all">Export All</option>
                <option value="selected">Export Selected</option>
            </select>
        </div>
        <table id="table" class="table"
               data-toolbar="#toolbar"
               data-show-export="true"
               data-pagination="true"
               data-click-to-select="true"
               data-filter-control="true"
               data-search="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-detail-formatter="detailFormatter"
               data-minimum-count-columns="2"
               data-show-pagination-switch="true"
               data-id-field="id"
               data-page-list="[10, 25, 50, 100, ALL]"
               data-show-footer="false">
            <thead>
                <tr>
                    <th data-field="state" data-checkbox="true"></th>
                    <th data-field="id">Item Id</th>
                    <th data-field="name" data-filter-control="input">Item Name</th>
                    <th data-field="price" data-filter-control="select">Item Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>1</td>
                    <td>Item 1</td>
                    <td>$1</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2</td>
                    <td>Item 2</td>
                    <td>$2</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3</td>
                    <td>Item 3</td>
                    <td>$3</td>
                </tr>
                <tr>
                    <td></td>
                    <td>4</td>
                    <td>Item 4</td>
                    <td>$4</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1</td>
                    <td>Item 1</td>
                    <td>$1</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2</td>
                    <td>Item 2</td>
                    <td>$2</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3</td>
                    <td>Item 3</td>
                    <td>$3</td>
                </tr>
                <tr>
                    <td></td>
                    <td>4</td>
                    <td>Item 4</td>
                    <td>$4</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1</td>
                    <td>Item 1</td>
                    <td>$1</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2</td>
                    <td>Item 2</td>
                    <td>$2</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3</td>
                    <td>Item 3</td>
                    <td>$3</td>
                </tr>
                <tr>
                    <td></td>
                    <td>4</td>
                    <td>Item 4</td>
                    <td>$4</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1</td>
                    <td>Item 1</td>
                    <td>$1</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2</td>
                    <td>Item 2</td>
                    <td>$2</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3</td>
                    <td>Item 3</td>
                    <td>$3</td>
                </tr>
                <tr>
                    <td></td>
                    <td>4</td>
                    <td>Item 4</td>
                    <td>$4</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1</td>
                    <td>Item 1</td>
                    <td>$1</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2</td>
                    <td>Item 2</td>
                    <td>$2</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3</td>
                    <td>Item 3</td>
                    <td>$3</td>
                </tr>
                <tr>
                    <td></td>
                    <td>4</td>
                    <td>Item 4</td>
                    <td>$4</td>
                </tr>
                <tr>
                    <td></td>
                    <td>1</td>
                    <td>Item 1</td>
                    <td>$1</td>
                </tr>
                <tr>
                    <td></td>
                    <td>2</td>
                    <td>Item 2</td>
                    <td>$2</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3</td>
                    <td>Item 3</td>
                    <td>$3</td>
                </tr>
                <tr>
                    <td></td>
                    <td>4</td>
                    <td>Item 4</td>
                    <td>$4</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ul id="example3-context-menu" class="dropdown-menu">
    <li data-item="edit"><a>Edit</a></li>
    <li data-item="delete"><a>Delete</a></li>
    <li data-item="action1"><a>Action Here</a></li>
    <li data-item="action2"><a>And Action Here</a></li>
</ul>



